name: graphes
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Installation de graphviz
      run: sudo apt install graphviz -y

    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Execution rights for run1
      run: chmod +x TP_Graphviz/run1.sh

    - name: Lancement graphviz (run1)
      run: ./TP_Graphviz/run1.sh g1

    - name: Execution rights for run2
      run: chmod +x TP_Graphviz/run2.sh

    - name: Lancement graphviz (run2)
      run: ./TP_Graphviz/run2.sh

    - name: Upload des images générées
      uses: actions/upload-artifact@v4
      with:
        name: graphes_generes
        path: TP_Graphviz/images_générées/