name: graphes
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Installation de graphviz
      run: sudo apt install graphviz -y

    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Nettoyage et préparation du dossier de sortie
      run: |
        rm -rf TP_Graphviz/générées
        mkdir -p TP_Graphviz/générées

    - name: Execution rights des fichiers run
      run: chmod +x TP_Graphviz/run1.sh TP_Graphviz/run2.sh

    - name: Lancement graphviz (run1)
      run: ./TP_Graphviz/run1.sh g1

    - name: Lancement graphviz (run2)
      run: ./TP_Graphviz/run2.sh

    - name: Upload complet (SVG + PNG + JSON)
      uses: actions/upload-artifact@v4
      with:
        name: graphes_generes
        path: |
          TP_Graphviz/générées/**/*.svg
          TP_Graphviz/générées/**/*.png
          TP_Graphviz/générées/**/*.json
